html,
body {
	box-sizing: border-box;
	margin: 0;
	color: white;
	background-color: #121212;
}
h1 {
	font-family: brother-1816, sans-serif;
}
h2 {
	font-family: brother-1816, sans-serif;
}
h3 {
	font-family: brother-1816, sans-serif;
}
p {
	font-family: rooney-web, serif;
}

#recipe-site {
	border: 6px solid rgb(47, 71, 233);
	padding-left: 120px;
	padding-right: 120px;
	padding-top: 80px;
	padding-bottom: 80px;
}

#picture {
	border: 4px solid red;
	height: 400px;
	/* width:600px;
	height:400px; */
	/* width: 1372px;
	height: 476px; */
	/* display: flex; 
    flex-wrap: wrap;
    justify-content:center;  */
	/* width:600;
	height:300; */
	
	
	
}

.pict {
	border: 4px solid rgb(81, 18, 87);
	/* height:300px; */
	/* width:1200px;
	height:800px; */
	max-width: 100%;
	height: auto;
	
}

#picture h1 {
	padding-left: 50px;
	padding-left: 120px; 
}

#recipe-text {
	border: 4px solid greenyellow;
	/* width:1372px; */
	
}

.prep-time {
	border: 2px solid rgb(252, 47, 255);
	/* padding-left: 50px; */
	padding-top: 30px;
	padding-bottom: 20px;
	padding-left: 120px; 
	
}


.description {
	border: 4px solid rgb(208, 129, 44);
	/* padding-right: 10px; */
	padding-left: 10px; 
	padding-right: 10px; 
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
}


.nutriAndIngred {
	border: 6px solid rgb(177, 97, 156);
	display: flex;
    justify-content: space-between;
}

.nutritions {
	border: 2px solid rgb(241, 255, 47);
	list-style: none;
	padding-left: 100px;  
	padding-right: 200px;
	padding-top: 20px;
}
.nutritions li{
	list-style: none;
}

.ingredients {
	border: 2px solid rgb(47, 217, 255);
	/* display: flex;
    align-items: center;  */
	padding-left: 100px;  
	padding-right: 200px;
	padding-top: 20px;
	padding-bottom: 20px;
}
